{% extends 'home/layout.html' %}
{% load static %}



{% block title %}Faculty Coordinators{% endblock %}

{% block content %}


    <style>
        
        h1 {
            margin-top: 2rem;
            text-align: center;
            color: #333;
        }
        .table-responsive {
            margin: 20px 0;
            overflow-x: auto;
        }
        table {
            width: 100%;
            max-width: 1300px;
            margin: 0 auto;
            border-collapse: collapse;
            box-shadow: 0 2px 3px rgba(0,0,0,0.1);
            border: 1px solid #ddd;
        }
        th, td {
            padding: 12px;
            text-align: left;
            border: 1px solid #ddd;
        }
        th {
            background-color: #0c1016;
            color: rgb(255, 255, 255);
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        tr:hover {
            background-color: #ddd;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="faculty">
            <h1>Faculty-in-charge for Alumni Relations</h1>
            <div class="table-responsive">
                <table>
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Specialization - Branch - Programme name</th>
                            <th>Faculty-in-charge</th>
                            <th>Email id</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for coordinator in faculty_coordinators %}
                        <tr>
                            <td>{{ coordinator.coordinator_id }}</td>
                            <td>{{ coordinator.name }}</td>
                            <td>{{ coordinator.department }}</td>
                            <td>{{ coordinator.email }}</td>
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
