<!-- templates/registration/password_reset_confirm.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{% static 'home/login.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'home/assets/NexusFavicon.png' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <div class="header">
        <header>
            <img src="{% static 'home/assets/CEC Login.png' %}" alt="connect">
        </header>
        <img src="{% static 'home/assets/Nexus_logo-removebg-preview.png' %}" alt="nexus logo" class="logo">
    </div>
    <div class="login-container">

        <h2>Reset Password</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary btn-change-password">Change my password</button>
        </form>
        <div class="forgot-password">
            <p>Remembered your password? <a href="{% url 'user_login' %}">Log in here</a></p>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha384-SC+fwa3k+N6ZSHgY8xPvlBLTzV3u6v2qx4KlcY2IBAcOEqo0I8lm+Wv1g6wtWg5h" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz4fnFO9gyWbYgkzH1O8DfPl5B9pM5gnA9b6JmIb8v1ku3P3GMBsB4RMK4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
</body>
</html>
