<!-- templates/registration/password_reset_complete.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Complete</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'home/login.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'home/assets/NexusFavicon.png' %}">
    <style>
        .back-to-login{
            text-align: center;width: 100%;
            margin: 5px;
            padding: 10px;
            border: none;
            outline: none;
            background-color: #004080;
            color: white;
            border-radius: 5px;
            font-size: 18px;
            margin-top: 1rem;
        }
        .back-to-login a{
            color: white;
            text-decoration: none;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="header">
        <header>
            <img src="{% static 'home/assets/CEC Login.png' %}" alt="connect">
        </header>
        <img src="{% static 'home/assets/Nexus_logo-removebg-preview.png' %}" alt="nexus logo" class="logo">
    </div>
    <div class="login-container">

        <div class="success-icon">
            <i class="fas fa-check-circle"></i>
        </div>
        <h2 class="my-4">Password Reset Successful!</h2>
        <div class="forgot-password">
            <p class="message">Your password has been reset successfully. You can now <a href="{% url 'user_login' %}" class="btn btn-link">log in</a> with your new password.</p>
            <!-- <a href="{% url 'user_login' %}" class="btn btn-success btn-login">Log In</a> -->
        </div>
        <button type="submit" class="back-to-login"><a href="{% url 'user_login' %}" class="btn btn-link">back to log in</a></button>
    </div>
</div>

<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha384-SC+fwa3k+N6ZSHgY8xPvlBLTzV3u6v2qx4KlcY2IBAcOEqo0I8lm+Wv1g6wtWg5h" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz4fnFO9gyWbYgkzH1O8DfPl5B9pM5gnA9b6JmIb8v1ku3P3GMBsB4RMK4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
</body>
</html>
