{% extends 'home/layout.html' %}
{% load static %}



{% block title %}Nexus{% endblock %}

{% block content %}



    <!-- Preloader -->
    <div id="preloader">
        <div class="loader">
            <img src="{% static 'home/assets/Nexus_logo-removebg-preview.png'%}" alt="Logo" class="logo" />
            <!-- You can add a loading animation if you want -->
            <div class="spinner"></div>
        </div>
    </div>
    
    
        <!-- Main Content -->
        <div class="main-content" id="main-content">
            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://www.canaraengineering.in/assets/images/banner1.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'home/assets/image 2CEC.png'%}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://images.shiksha.com/mediadata/images/1715752606phpM2A9Yu.jpeg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://imscec.canaraengineering.in/canara/upload/techevent/AUDIO%20VISUAL%20SESSION%20ABOUT%20AWARENESS%20ON%20SNAKES1_1613990353IMG-20210220-WA0015.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <!-- deans message -->
        <div class="deans-text">
            <h2>Dean's Message</h2>
            <div class="mssg">
            <img src="{% static 'home/assets/doublequote.png' %}" alt="" />
            <p>
              "I want to express my deepest gratitude to each and every one of you
              for your hard work and dedication." "Today, I want to talk about the
              importance of kindness and compassion in our community ." "I am
              thrilled to announce that our school has been recognized for its
              outstanding achievements in the field of public health." "I believe
              that every individual has the power to make a positive impact in the
              world." "As we move forward, I encourage you to stay committed to our
              mission of improving the health and well-being of all people."
            </p>
            </div>
            <h3>--Deans Name</h3>
          </div>
          <div class="leaders-mssg">
            <h2>Leadership Message</h2>
            <div class="cards">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'home/assets/person-4.png' %}" class="card-img-top" alt="...">
                    
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'home/assets/person-4.png'%}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <Card.Title>Dr. ABCD EFR</Card.Title>
                        <Card.Text>
                          Chairman CEC Institution
                        </Card.Text>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'home/assets/person-4.png'%}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'home/assets/person-4.png'%}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    
    {% endblock %}
    <script>
           // JavaScript to handle preloader
           window.addEventListener("load", function () {
    setTimeout(function() {
        const preloader = document.getElementById('preloader');
        preloader.style.display = 'none';
        document.body.classList.add('show-content');
    }, 2000); // Delay of 2 seconds to see the preloader in action
});
    </script>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>


</body>

</html>
