{% load static %}  <!-- Load static files -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    
    <link rel="stylesheet" href="{% static 'home/login.css' %}">
    <script src="https://kit.fontawesome.com/feaa59adcb.js" crossorigin="anonymous"></script>
    <!-- add favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'home/assets/NexusFavicon.png' %}">
</head>
<body>
    
    
    <div class="container">
        <div class="header">
            <header>
                <img src="{% static 'home/assets/CEC Login.png' %}" alt="connect">
            </header>
            <img src="{% static 'home/assets/Nexus_logo-removebg-preview.png' %}" alt="nexus logo" class="logo">
        </div>
        <div class="login-container">
            <h3>Login to your Account</h3>
            <form method="post">
              {% csrf_token %}
                <!-- <h2>Login to your account</h2> -->
                <label for="email">Email:</label>
                <input type="text" id="username" name="username" placeholder="Email ID" required>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Password" required>
                <div class="remember-me">
                    <input type="checkbox" id="remember" name="remember">
                    <label for="remember">Remember Me</label>
                </div>
                <button type="submit">Login</button>
                <div class="forgot-password">
                    <a href="{% url 'password_reset' %}">Forgot Password?</a>
                </div>
                {% for message in messages %}
    <div style="color: rgb(215, 71, 71);" class="message {{ message.tags }}">
        {{ message }}
    </div>
{% endfor %}
            </form>
            
            <!-- {% if messages %}
            <ul class="messages">
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %} -->
      </div>
        </div>
    </div>

</body>
</html>
