{% extends 'home/layout.html' %}
{% load static %}



{% block title %}NEXUS TEAM{% endblock %}

{% block extra_head %}
  <script src="https://kit.fontawesome.com/feaa59adcb.js" crossorigin="anonymous"></script>
  <link rel="icon" type="image/icon" href="{% static 'home/assets/NexusFavicon.png' %}">
  <style>
    /* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fcfcfc;
  color: #333;
}

.team-section {
  text-align: center;
  padding: 20px;
}

.nexus-team-heading{
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-between;align-items: center;
  margin-top: 2rem;
}

.nexus-team-heading .portal-team{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0a1219;
  padding: 12px;
  color: white;
  gap: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.team-section .portal-team-mobile{
  display: none;
}

.nexus-team-heading .portal-team:hover{
  background: #e69b10;
  color: #0a1219;
  transition: ease-in-out 0.2s;
}

.team-section h1 {
  font-size: 2rem;
  color: #333;
  border-bottom: 2px solid orange;
}

.team-container {
  display: flex;
  justify-content: left;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.media2-line{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.team-member {
  border-top: 2px solid #eb830d ;
  background-color: rgb(255, 255, 255);
  /* background: linear-gradient(#e69b10, rgb(190, 102, 0)); */
  overflow: hidden;
  text-align: center;
  width: 300px;
  transition: transform 0.3s ease;
  margin-bottom: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(53, 53, 53, 0.274);
}


.image-container {
  /* background: rgb(219, 120, 6); */
  padding: 20px;
}

.image-container img {
  border: 3px solid #0a1219;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.team-member h2 {
  font-size: 1.25rem;
  margin: 10px 0;
  color: #000;
}

.team-member p {
  color: #e69b10;
  margin: 5px 0 15px;
  font-size: 0.9rem;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 15px 0;
}

.social-icons a {
  color: #555;
  font-size: 1.2rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #000;
}

/* scrollbar */
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffffff;
  }
  
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #e69b10;
    border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0a1219;
  }

  .team-section .team-container .team-name{
    writing-mode: vertical-rl; /* Rotate the text vertically */
            transform: rotate(180deg); /* Flip to align the text direction */
            font-size: 25px;
            font-family: Arial, sans-serif;
            text-align: center;
  }

  .team-container .members{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .team-container .media-members{
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    align-items: center;
    gap: 10px;
  }


/* Responsiveness */
@media (max-width: 768px) {
  .team-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  flex-direction: column;
}

.team-section .team-container .team-name{
  writing-mode: horizontal-tb;
  transform: rotate(0deg);
  margin-bottom: 1rem;
}

  .team-member{
    width: 70%;
    border-top: 5px solid #0a1219;
    border-radius: 8px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);

  }
  .nexus-team-heading{
    text-align: center;
    width: 100%;
    justify-content: center;
  }
  .nexus-team-heading .portal-team{
    display: none;
  }
  .team-section .portal-team-mobile{
    display: block;
  background-color: #0a1219;
  padding: 12px;
  color: white;
  gap: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  }
  .team-container .media-members{
    display: grid;
    grid-template-columns: repeat(1, minmax(100px, 1fr));
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
  .team-section .team-container .team-name{
  writing-mode: horizontal-tb;
  transform: rotate(0deg);
  margin-bottom: 1rem;
}
  .team-section .team-container {
  display: flex;
  justify-content: left;
  gap: 10px;
  align-items: center;
  flex-direction: column;
}
.team-container .media-members{
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
   
  }
}

  </style>
{% endblock %}

{% block content %}
<body>
  <div class="team-section">
    <div class="nexus-team-heading">
      <h1>Nexus Team Members</h1>
      <div class="portal-team">
        <a href="{% url 'webTeam' %}"><i class="fa-solid fa-code"></i> Nexus Portal Team</a>
      </div> 
    </div>
    
    <div class="team-container">
      <div class="team-name">
        <h2>Club Advisors</h2>
      </div>
      <div class="members">
        <div class="team-member">
          <div class="image-container">
            <img src="{% static 'home/assets/Anoop1.jpg' %}" alt="Robert McGrath">
          </div>
          <h2>Anoop S Prabhu</h2>
          <p>Dept of AIML</p>
        </div>
        <div class="team-member">
          <div class="image-container">
            <img src="{% static 'home/assets/Professional Photograph/Akhila Prabhu.jpg' %}" alt="Robert McGrath">
          </div>
          <h2>M Akhila Prabhu</h2>
          <p>Dept of AIML</p>
        </div>
        
      </div>
      
    </div>
    <div class="team-container">
      <div class="team-name">
        <h2>Podcast</h2>
      </div>
      <div class="members">

        <div class="team-member">
          <div class="image-container">
            <img src="{% static 'home/assets/Professional Photograph/Ankith Shenoy.jpg' %}" alt="Michelle Mager">
          </div>
          <h2>K Ankith Shenoy</h2>
          <p>Podcast Lead</p>
          
        </div>
        <div class="team-member">
          <div class="image-container">
            <img src="{% static 'home/assets/Professional Photograph/Adi Bhaktha.jpeg' %}" alt="Paul Carter">
          </div>
          <h2>K Adithya Bhaktha </h2>
          <p>Lead podcast team</p>
        </div>
        <div class="team-member">
          <div class="image-container">
            <img src="{% static 'home/assets/Professional Photograph/Prajna Nayak.jpeg' %}" alt="Paul Carter">
          </div>
          <h2>Prajna Nayak</h2>
          <p>Podcast team  Member</p>
        </div>
      </div>
      <!-- <div class="team-member">
        <div class="image-container">
          <img src="{% static 'home/assets/Professional Photograph/Devashree.jpg' %}" alt="Robert McGrath">
        </div>
        <h2>Devashree N</h2>
        <p>Newsletter & Interaction Team </p>
      </div> -->
      <!-- <div class="team-member">
        <div class="image-container">
          <img src="{% static 'home/assets/Professional Photograph/Deekshith.jpeg' %}" alt="Michelle Mager">
        </div>
        <h2>Deekshith Nayak</h2>
        <p>Videography</p>
      </div>
      <div class="team-member">
        <div class="image-container">
          <img src="{% static 'home/assets/Professional Photograph/Arya - Navaneeth Arya.png' %}" alt="Paul Carter">
        </div>
        <h2>Navaneeth Arya</h2>
        <p>Search team </p>
      </div> -->
      
    </div>
    <div class="team-container">
      <div class="team-name">
        <h2>Interaction</h2>
      </div>
      <div class="members">
        <div class="team-member">
          <div class="image-container">
            <img src="{% static 'home/assets/Professional Photograph/Reeshal Dsouza.jpg' %}" alt="Paul Carter">
          </div>
          <h2>Reeshal Dsouza </h2>
          <p>Interaction team</p>
        </div>
        <!-- <div class="team-member">
          <div class="image-container">
            <img src="{% static 'home/assets/Professional Photograph/Khushi.jpg' %}" alt="Robert McGrath">
          </div>
          <h2>Khushi </h2>
          <p>Newsletter Team</p>
        </div> -->
        <div class="team-member">
          <div class="image-container">
            <img src="{% static 'home/assets/Professional Photograph/M. Vaibhav.png' %}" alt="Michelle Mager">
          </div>
          <h2>M.Vaibhav</h2>
          <p>Search team </p>
        </div>
        <div class="team-member">
          <div class="image-container">
            <img src="{% static 'home/assets/Professional Photograph/Pragathi Shanubhag.jpg' %}" alt="Paul Carter">
          </div>
          <h2>Pragathi</h2>
          <p>Member Engagement team</p>
        </div>
        <div class="team-member">
          <div class="image-container">
            <img src="{% static 'home/assets/Professional Photograph/Shivani Kamath.jpeg' %}" alt="Paul Carter">
          </div>
          <h2>Shivani kamath</h2>
          <p>Backup lead 
            Engagement team</p>
        </div>
      </div>
    </div>
    <div class="team-container">
      <div class="team-name">
        <h2>Engagement</h2>
      </div>
      <div class="members">

        <div class="team-member">
          <div class="image-container">
            <img src="{% static 'home/assets/Professional Photograph/Tanvi Bhat.jpeg' %}" alt="Robert McGrath">
          </div>
          <h2>Tanvi Bhat</h2>
          <p>Interaction Team</p>
        </div>
        <div class="team-member">
          <div class="image-container">
            <img src="{% static 'home/assets/Professional Photograph/Darshan.JPG' %}" alt="Michelle Mager">
          </div>
          <h2>U Darshan Raj </h2>
          <p>Media Team</p>
        </div>
        <div class="team-member">
          <div class="image-container">
            <img src="{% static 'home/assets/Professional Photograph/Melisha.jpg' %}" alt="Paul Carter">
          </div>
          <h2>MELISHA</h2>
          <p>Sucessor Search team</p>
        </div>
        <div class="team-member">
          <div class="image-container">
            <img src="{% static 'home/assets/Professional Photograph/Pragathi Shanubhag.jpg' %}"  "../Professional Photograph/Varsha Nayak.jpg" alt="Paul Carter">
          </div>
          <h2>Varsha Nayak K </h2>
          <p>Engagement Team</p>
        </div>
      </div>
    </div>
    <div class="team-container">
      <div class="team-name">
        <h2>Media</h2>
      </div>
      <div class="media-members">
        <div class="team-member">
          <div class="image-container">
            <img src="{% static 'home/assets/Professional Photograph/Sanjay G Kamath.jpg' %}" alt="Paul Carter">
          </div>
          <h2>Sanjay G Kamath</h2>
          <p>Lead
            Media team</p>
        </div>

        <div class="team-member">
          <div class="image-container">
            <img src="{% static 'home/assets/Professional Photograph/Abhishek Nayak.jpg' %}" alt="Paul Carter">
          </div>
          <h2>Abhishek Nayak </h2>
          <p>Nexus Member</p>
        </div>
        <div class="team-member">
          <div class="image-container">
            <img src="{% static 'home/assets/Professional Photograph/Anirudh R Prabhu.jpeg' %}" alt="Paul Carter">
          </div>
          <h2>Anirudh R Prabhu</h2>
          <p>Media team Member</p>
        </div>
        <div class="team-member">
          <div class="image-container">
            <img src="{% static 'home/assets/Professional Photograph/Anuradha Nayak.jpg' %}" alt="Paul Carter">
          </div>
          <h2>K . Thejaswi Nayak </h2>
          <p>Engagement Team- Member </p>
        </div>
        
        <!-- <div class="team-container media2-line"> -->
          <div class="team-member">
            <div class="image-container">
              <img src="{% static 'home/assets/Professional Photograph/neha.jpg' %}" alt="Paul Carter">
            </div>
            <h2>Neha</h2>
            <p>Media Team Member</p>
          </div>
          <div class="team-member">
            <div class="image-container">
              <img src="{% static 'home/assets/Professional Photograph/Sambhram Jain.jpeg' %}" alt="Paul Carter">
            </div>
            <h2>Sambhram Jain</h2>
            <p>Engagement Team Member</p>
          </div>
          
          <div class="team-member">
            <div class="image-container">
              <img src="{% static 'home/assets/Professional Photograph/Shresht Karkera.jpg' %}" alt="Paul Carter">
            </div>
            <h2>Shresht S Karkera</h2>
            <p>Video Editor</p>
          </div>
          <div class="team-member">
            <div class="image-container">
              <img src="{% static 'home/assets/Professional Photograph/ananyabhat.jpg' %}" alt="Paul Carter">
            </div>
            <h2>Ananya Bhat</h2>
            <p>Engagement Team Member</p>
          </div>
        <!-- </div> -->
      </div>
    </div>
    <div class="portal-team-mobile">
      <a href="{% url 'webTeam' %}"><i class="fa-solid fa-code"></i> Nexus Portal Team</a>
    </div> 
  </div>

  
{% endblock %}