*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* Footer General Styling */
.footer {
  background-color: #043162;
  color: white;
  padding: 40px 20px;
  font-size: 14px;
}

.footer .container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.column {
  flex: 1;
}

.column h5 {
  font-size: 16px;
  margin-bottom: 15px;
  color: #ddd;
}

.column ul {
  list-style: none;
  padding: 0;
}

.column ul li {
  margin-bottom: 8px;
}

.column ul li a {
  color: #aaa;
  text-decoration: none;
  font-size: 14px;
}

.column ul li a:hover {
  text-decoration: underline;
  color: #fff;
}

/* Footer Logos */
.footer-logos {
  text-align: center;
  margin-bottom: 20px;
}

.footer-logos img {
  width: 100%;
  max-width: 300px;
  height: auto;
}

/* Footer Bottom */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #919191;
  padding-top: 20px;
  font-size: 12px;
  color: #aaa;
}

.footer-bottom p {
  margin: 0;
}

.foot-logo img{
  max-width: 200px;
}

.footer-links a {
  margin-left: 20px;
  color: #aaa;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

/* Social Icons */
.footer-icons {
  margin: 5px auto;
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-icons .social-icons  i {
  margin-left: 10px;
  font-size: 20px;
  color: #ececec;
  cursor: pointer;
}

.footer-bottom .social-icons a:hover {
  color: #fff;
}

@media screen and (max-width: 768px) {
    nav{
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
    }
    
    .nav-ele{
      display: none;
    }
    .left .menu {
      float: right;
    }
    .footer-columns {
      flex-direction: column-reverse;
      text-align: center;
  }
  
  .column {
      margin-bottom: 20px;
  }
  
  .footer-bottom {
      flex-direction: column;
      text-align: center;
  }
  
  .footer-links {
      margin-top: 10px;
  }
  .footer-icons{
    display: flex;
    justify-content: center;
    margin: 5px auto;
  }
  }