/* Existing styles */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #f4f4f4;
  width: 100%;
  height: 100vh;
}





.chatbot{
  position: fixed;
  padding: 10px;
  border-radius: 50%;
  bottom: 10px;
  right: 10px;
  /* background: linear-gradient(#2b8bf1, #003366); */
  background-color: #e56f00; cursor: pointer;
  color: #0a1219;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 999;
}
.chatbot i{
  color: white;
  font-size: 30px;
}


.carousel-item img {
  width: 100%;
  height: 100vh; /* Set each image to fill the viewport height */
 
  object-fit: cover; /* Make sure images cover the container without gaps */
}

/* Caption positioning */
.main-content .carousel-caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Caption overlay style */
.caption-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* Button style */
.explore-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.2em;
  font-weight: bold;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 25px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.explore-button:hover {
  background-color: transparent;
  color: #fff;
  border: 1px solid white;
  border-radius: 100px;
}

/* Caption text style */
.caption-overlay h2 {
  font-size: 4em;
  max-width: 900px;
  text-align: center;
  font-weight: bold;
  font-family: "Playfair Display", serif;
}





/* .profile-section button {
  background-color: #ed8722;
  margin-top: 1rem;
  margin-bottom: 0.4rem;
  color: white;
  } */


/* Main Content when sidebar is open */
.main-content.shifted {
  margin-left: 250px;
  transition: margin-left 0.3s ease;
}

.alumni-h-message{
  width: 100%;
  padding: 20px;
  margin-top: 5rem;
  /* background-color: rgb(255, 255, 255); */
 display: flex;
 justify-content: space-evenly;
 align-items: center;
  position: relative;
 z-index: 1;
}

.alumni-h-message .speaker-img img{
  width: auto;
  height: 330px;
  border-radius: 30px;
}

.alumni-h-message::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* background-color: #fefdfdcf; */
  z-index: -1;
}

.deans-text {
  position: relative;
  margin-top: 8rem;
  text-align: center;
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  /* background-color: #ffffff; */
  color: rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: none;
  z-index: 1;
  
}

.deans-text::before{
  content: '';
  width: 1rem;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* background:linear-gradient(360deg,white,rgb(255, 188, 62), orange); */
  z-index: 2;
}

.deans-text h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 15px;
}

.deans-text h3{
  width: 100%; text-align: right;
  padding: 10px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.deans-text p {
  text-align: justify;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}

.deans-text .mssg{
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}
.mssg img{
  width: auto;
  height: 40px;
}

.about-section {
  display: grid;
  align-items: center;
  justify-content: space-between;
  padding: 100px;
  width: 100%;
  margin: 0 auto;
  /* background-color: #0e1620; */
  /* background: linear-gradient(to right, white, rgba(255, 255, 255, 0.096),rgba(255, 255, 255, 0)),url('../home/assets/about3d.png'); */
  /* background-image: ; */
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* border-radius: 10px; */
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); */
}

.about-section .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
}

.about-section h2 {
  font-size: 32px;
  margin: 0;
  color: rgb(8, 8, 8);
}

.about-section .line {
  width: 50px;
  height: 5px;
  background-color: orange;
  margin: 10px 0;
}

.about-section p {
  max-width: 60%;
  font-size: 20px;
  line-height: 1.8;
  text-align: justify;
  color: rgb(0, 0, 0);
  margin-top: 2rem;
}

.about-section .logo img {
  max-width: 300px;
  height: auto;
  border-radius: 10px;
}



.leaders-mssg {
  text-align: center;
  padding: 20px;
  margin-top: 4rem;
}

.leaders-mssg h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  border-bottom: 3px solid black;
}

/* nexus do css */
.nexus-do{
  background-color: #13181f;
  position: relative;
  /* width:100%; */
  padding: 10px;
  padding-top: 5rem;
  padding-bottom: 5rem;
  /* margin: 10px; */
}

.nexus-do h2{
  color: rgb(226, 126, 20);
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}

.nexus-do .left-side {
  max-width: 700px;
  /* margin: 10px auto; */
  background-color: #fdfdfd;
  color: rgb(14, 19, 26);
  padding: 20px;
  margin-left: 2rem;
  margin-bottom: 20px;
  border-radius: 50px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.346);
  transition: transform 0.2s;
  position: relative;
}
.nexus-do .right-side {
  /* position: absolute;
  right: 0;
  left: 30rem; */
  max-width: 700px;
  margin-right: 2rem;
  background-color: #ffffff;
  color: rgb(14, 19, 26);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 50px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.346);
  transition: transform 0.2s;
  position: relative;
}

.nexus-do .row{
  width:100%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.left-circle {
position: absolute;
left: 0;
top: 10px;
width: 120px;
height: 120px;
border-radius: 50%;
background-color: #df7103; /* Deep red color */
color: #fff;
display: flex;
justify-content: center;
align-items: center;
/* margin-right: 20px; */
font-size: 1.5rem;
font-weight: bold;
border: 2px solid #f2f2f2;
}
.right-circle {
position: absolute;
right: 0;
top: 10px;
width: 120px;
height: 120px;
border-radius: 50%;
background-color: #df7103; /* Deep red color */
color: #fff;
display: flex;
justify-content: center;
align-items: center;
/* margin-right: 20px; */
font-size: 1.5rem;
font-weight: bold;
border: 2px solid #f2f2f2;
}

.left-side .content {
text-align: left;
margin-left: 8rem;
}
.right-side .content {
text-align: right;
margin-right: 8rem;
}

.nexus-do span {
  font-size: 40px;
}

/* top events css */

.top-events-display {
  width: 100%; /* Increased max-width to allow space for 3 cards */
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  margin-top: 2rem;
  background-color: #ffdead;
  border-radius: 50px 50px 0 0;
}

.top-events-display .event-header h2{
  text-align: center;
  padding: 10px;
  margin-bottom: 2rem;
  border: 2px solid #0a1219;
  border-radius: 100px;
  width: 100%;
  max-width: 600px;
  margin: 2rem auto;
}

.top-events-display .event-header p{
  text-align: center;
  font-size: 1em;
  margin-bottom: 4rem;
}


.swiper-slide .card {
  display: flex;
  flex-direction: row;
  /* background-color: #122231; */
  background: linear-gradient(60deg, rgb(18, 34, 51), black);
  border-radius: 15px;
  overflow: hidden;
  max-width: 700px;
  width: 100%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  transition: transform 1s ease, opacity 1s ease;
}

.swiper-slide .card-content {
  padding: 30px;
  color: #FFFFFF;
  flex: 1;
}

.swiper-slide .card-content h2 {
  text-align: left;
  font-size: 1.8em;
  margin-bottom: 10px;
}

.swiper-slide .card-content p {
  text-align: left;
  font-size: 1em;
  margin-bottom: 20px;
  line-height: 1.5;
}

.card-content .button {
  background-color: #062d75;
  color: #FFF;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}

.card-image {
  flex: 1;
clip-path: polygon(100% 0%, 99% 50%, 100% 100%, 23% 100%, 11% 51%, 0 0);
}

.card-image img{
  width: 100%;
  max-width: 400px;
}

.swiper-container {
width: 100%;
height: 100%;
overflow: hidden;
}
.swiper-container .swiper-wrapper .swiper-slide {
height: 250px;
/* background-color: #f3f3f3; */
display: flex;
align-items: center;
justify-content: center;
}
.swiper-container .swiper-wrapper .swiper-slide img {
width: 100%; /* Adjust width for desktop */
height: auto;
max-width: 500px; /* Sets a maximum width */
object-fit: cover; /* Maintains aspect ratio */
border-radius: 10px; /* Adds rounded corners */
box-shadow: 0 0 20px rgba(0, 0, 0, 0.286);
}

.s1 {
margin-top: 10px;
height: 50vh;
width: 100%;
padding-top: 50px;
padding-bottom: 50px;
margin-bottom: 100px;
}
.swiper-container .swiper-wrapper .swiper-slide {
background-position: center;
background-size: cover;
width: auto;
height: auto;
display: flex;
justify-content: center;
align-items: center;
}

.follow-nexus {
  position: fixed;
  right: 0; /* Adjusts distance from the right */
  top: 50%; /* Positions it in the center of the page vertically */
  transform: translateY(-50%); /* Centers the element by its height */
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  align-items: center;
  padding: 20px 10px; /* Optional padding */
  background-color: rgba(255, 255, 255, 0.9); /* Optional background */
  border-radius: 10px 0 0 10px; /* Optional rounded corners */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); /* Optional shadow */
  z-index: 1000;
}


.follow-nexus h2 {
  font-size: 2em;
  color: #333;
  margin-bottom: 10px;
}

.social-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px; /* Space between icons */
  cursor: pointer;
}

.social-logos i {
  font-size: 1.5rem; /* Icon size */
  color: #333; /* Default color for icons */
  transition: color 0.3s ease;
}

/* Set specific colors for each icon using nth-child */
.social-logos i:nth-child(1) {
  color: #3b5998; /* Facebook blue */
}

.social-logos i:nth-child(2) {
  color: #FF0000; /* YouTube red */
}

.social-logos i:nth-child(3) {
  color: #E1306C; /* Instagram gradient start color */
}

.social-logos i:nth-child(4) {
  color: #0077b5; /* LinkedIn blue */
}

.social-logos i:nth-child(5) {
  color: #0fb500; /* LinkedIn blue */
}

/* Hover effect */
.social-logos i:hover {
  color: #000; /* Darken color on hover */
}



/* Responsiveness */
@media (max-width: 768px) {
.swiper-wrapper .swiper-slide {
  height: auto; /* Automatically adjust height based on content */
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-wrapper .swiper-slide .card {
  flex-direction: column; /* Stack content vertically on mobile */
  width: 100%;
  max-width: 500px; /* Adjust width for better layout on mobile */
}

.swiper-wrapper .swiper-slide .card .card-image {
  display: none; /* Hide card image for mobile */
}

.card-content {
  text-align: center;
  max-width: 400px;
  padding: 20px; /* Adjust padding to fit mobile screen better */
}

.swiper-button-next, .swiper-button-prev{
  display: none; /* Hide navigation buttons on mobile */
}
.card-content .button {
  width: 50%;
  background-color: #062d75;
  color: #FFF;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}
}


/* Responsive Design */
/* @media (max-width: 768px) {
  .card {
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  .poster img {
      width: 100px;
      height: auto;
      margin-bottom: 10px;
  }

  .card-content {
      padding: 10px 0;
  }

  .view-btn {
      margin-top: 10px;
      align-self: center;
  }
}

@media (max-width: 480px) {
  .poster img {
      width: 80px;
  }

  .card-content h3 {
      font-size: 18px;
  }

  .card-content p {
      font-size: 12px;
  }

  .view-btn button {
      font-size: 12px;
      padding: 8px 16px;
  }
} */




/* footer */
/* Footer General Styling */
.footer {
  /* background-color: #043162;  */
  background-color: #131c26; 
  color: white;
  padding: 40px 20px;
  font-size: 14px;
}

.footer .container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.column {
  flex: 1;
}

.column h5 {
  font-size: 16px;
  margin-bottom: 15px;
  color: #ddd;
}

.column ul {
  list-style: none;
  padding: 0;
}

.column ul li {
  margin-bottom: 8px;
}

.column ul li a {
  color: #aaa;
  text-decoration: none;
  font-size: 14px;
}

.column ul li a:hover {
  text-decoration: underline;
  color: #fff;
}

/* Footer Logos */
.footer-logos {
  text-align: center;
  margin-bottom: 20px;
}

.footer-logos img {
  width: 100%;
  max-width: 300px;
  height: auto;
}

/* Footer Bottom */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #a7a7a7;
  padding-top: 20px;
  font-size: 12px;
  color: #aaa;
}

.footer-bottom p {
  margin: 0;
}

.foot-logo img{
  max-width: 200px;
}

.footer-links a {
  margin-left: 20px;
  color: #aaa;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

/* Social Icons */
.footer-icons {
  margin: 5px auto;
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-icons .social-icons  i {
  margin-left: 10px;
  font-size: 20px;
  color: #ececec;
  cursor: pointer;
}

.footer-bottom .social-icons a:hover {
  color: #fff;
}

/* prelaoder css */
/* Make sure the body takes up the full viewport */


/* Preloader styles */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: url(https://static.vecteezy.com/system/resources/previews/002/923/747/large_2x/global-network-connection-world-map-point-and-line-composition-concept-of-global-business-illustration-free-vector.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover; */
  /* background-color: #002c50;  */
  background-color: #0a1219; 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it stays on top of everything */
}

/* #preloader::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.762); 
  z-index: -1;
} */
/* Logo styling */
.loader .logo {
  width: 200px; /* Adjust size as needed */
  height: auto;
  animation: pulse 1.5s infinite; /* Add a pulsing animation for the logo */
}

/* Spinner (optional) */
.loader .spinner {
  border: 6px solid rgba(0, 0, 0, 0.1);
  border-left-color: #ff8411;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-top: 20px;
  animation: spin 1s linear infinite;
  margin: 5px auto;
}

/* Animation for logo pulsing */
@keyframes pulse {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}

/* Animation for spinner rotation */
@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

/* Once content is loaded, show it and hide preloader */
#content {
  display: none; /* Hidden initially */
}

/* After preloader is hidden, content will be shown */
.show-content #content {
  display: block;
}

  /* scrollbar */
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffffff;
  }
  
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #e69b10;
    border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0a1219;
  }

  /* css for toast message */
  .toast{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
  }
  .toast .toast-header .toast-logo{
    width: 20px;
  }

  .nexus-features{
    width: 100%;
    background-color: #0a1219;
    padding: 6rem 20px 6rem 20px;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
  }


  .nexus-features .cards{
    /* flex: 1; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    gap: 10px;
  }
  .nexus-features .cards .card{
    cursor: pointer;
    width: 100%;
    max-width: 800px;
    display: grid;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    background-color: #002c50;
    color: white;
  }
  .nexus-features .cards .card:hover{
    background-color: #c07c15;
    /* background:linear-gradient(black, rgb(19, 40, 70)); */
    transition: 0.5s ease-in-out;
  }
  .nexus-features h2{
    writing-mode: vertical-rl; /* Rotate the text vertically */
            transform: rotate(180deg); /* Flip to align the text direction */
            font-size: 40px;
            font-family: Arial, sans-serif;
            font-weight: lighter;
            text-align: center;
            color: white;
            background-color: rgb(187, 91, 12);
            padding: 10px;
            border-radius: 200px;
  }

  .nexus-features .card img{
    width: auto;
    height: 100px;
    margin: 0 auto;
  }

  .nexus-features .card p{
    font-size: 20px;
    font-weight: bold;text-align: center;
  }

  .nexus-features .card i{
    font-size: 5em;
    text-align: center;
  }

  .nexus-features .card button a:hover{
    color: white;
  }

  .nexus-features .view-more{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 100px;
    background-color: #f6f6f6;
    min-width: 200px;
  }
  .nexus-features .view-more a{
    text-decoration: none;
    color: black;
  }
  .nexus-features .view-more:hover{
    background-color: #0d131a;
    color: white;
  }



/* alumni startups */
.alumni-startups {
  max-width: 100%;
  padding: 20px;
  overflow-x: hidden;
  text-align: center;
  margin-bottom: 2rem;
  /* background:linear-gradient(rgba(238, 238, 238, 0.814), #f4f4f4); */
  /* background-color: rgb(230, 230, 230); */
}

.alumni-startups h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #142432;
}

.alumni-startups .latest-header p{
  margin-bottom: 2rem;
}

/* Row styling */
.alumni-startups .row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 2rem;
}

/* Individual card styling */
.alumni-startups .startup-card {
  background-color: #f8f9fa;
  border-top: 5px solid orange;
  border-radius: 10px ;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 250px;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* Image styling */
.startup-card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

/* Text styling */
.startup-card strong {
  font-size: 1.2em;
  color: #333;
  display: block;
  margin-top: 10px;
}

.startup-card p {
  color: #777;
  font-size: 1em;
}


/* Container for the section header */
.section-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  /* background-color:#0f1820; Black background */
  border-radius: 200px;
  margin-bottom: 4rem;
}

/* Line styling */
.line {
  flex: 1;
  height: 1px;
  background-color: #000000; /* White color */
  margin: 0 10px;
}

/* Label styling */
.label {
  font-size: 1.5em;
  color: #0a1219;
  padding: 10px 20px;
  border: 1px solid #000000;
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
}

/* Diamond effect */
.label::before,
.label::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  transform: translateY(-50%);
}

.label::before {
  left: -20px;
  border-right-color: #000000;
}

.label::after {
  right: -20px;
  border-left-color: #000000;
}


/* Responsive Design */
@media (max-width: 768px) {
  .startup-card {
    width: 100%;
    max-width: 500px;
  }
}

@media (max-width: 480px) {
  .row {
    flex-direction: column;
    align-items: center;
  }
}

.nexus-post-activities{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.post-container{
  margin-top: 5rem;
}

.post-container .latest-header h2{
  text-align: center;
  padding: 10px;
  margin-bottom: 2rem;
  border: 2px solid #0a1219;
  border-radius: 100px;
  width: 100%;
  max-width: 600px;
  margin: 2rem auto;
}

.post-container .latest-header p{
  text-align: center;
  font-size: 1em;
  margin-bottom: 3rem;
}

.post-container .post-details{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  padding: 10px;
}

.post-container .insta-posts{
  gap: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.post {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.post-header {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.post-header img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
.post-header span {
  font-weight: bold;
}
.post-header .icon {
  margin-left: auto;
}
.post-header .icon i{
  font-size: 1.5em;
}
.post-image {
  width: 100%;
  height: 300px;
  max-width: 300px;
  object-fit: cover;
}
.post-caption {
  padding: 10px;
  font-size: 14px;
  color: #555;
}
.post .share{
  margin: 5px 5px;
  gap: 10px;
}
.share i{
  font-size: 1.5em;
}

.nexus-activities {
  background-color: #d88811;
  padding: 40px 40px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  border-radius: 0 0 50px 50px;
}

.nexus-activities .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}

.nexus-activities h2 {
  color: #10161f;
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

.nexus-activities .social-icons i {
  font-size: 25px;
  color: #0d131a;
  margin-left: 10px;
  cursor: pointer;
  transition: color 0.3s;
}

.social-icons i:hover {
  color: #0d131a;
}

.nexus-activities .activity-cards {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.nexus-activities .activity-cards .card {
  background: transparent;
  color: #0d131a;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  flex: 1;
  border: none;
}

.activity-cards .card .count {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.card p {
  font-size: 22px;
  margin-bottom: 15px;
}

.nexus-activities .activity-cards .card .acti-icons{
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.activity-cards .card button {
  padding: 10px 20px;
  background: #ff951c;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.card button:hover {
  background: #f06d06;
}

.post-container .post-details .video-container iframe{
  width:840px;
  height: 480px;
  border-radius: 20px;
  margin-bottom: 2rem;
}


/* mobile width */
@media screen and (max-width: 768px) {
  .carousel-item img {
    width: auto;
    height: 100%;
    /* height: 700svh; */
  }
  .caption-overlay h2 {
    font-size: 1em;
    width: 900px;
    text-align: center; /* Center the text */
    font-weight: bold;
  }
  nav{
    width: 100%;
    display: flex;
    padding: 0;
    margin: 0;
  }
  .nav-ele {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 88px; /* Positioned below the header */
    left: 0;
    background-color: #004080;
    z-index: 1000;
}
.nav-ele ul {
    flex-direction: column;
    width: 100%;
}

.nav-ele ul li {
    padding: 15px;
    border-bottom: 1px solid #ffffff66;
    text-align: left;
    width: 100%;
}

.nav-ele ul li:hover {
    background-color: #0056b3;
}
/* Show nav-ele when the 'show' class is added */
.nav-ele.show {
    display: flex;
}

.login-btn {
  display: block; /* Show login button */
  text-align: center;
  margin-top: 10px;
}

.login-btn button {
  background-color: #fefefe;
  color: #002c50;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
  width: 100%;
}

.caption-overlay .explore-button{
  font-size: 12px;
}

.login-btn button:hover {
  background-color: #002244;
  color: white;
}
  .left .logo img{
    width: 120px;height: auto;
    padding: 0;
  }
  .nav-ele{
    display: none;
  }
  .left .menu {
    display: none;
  }
  .nav-menu{
    display: block;
    margin-right: 10px;
  }
  .nav-menu i{
    font-size: 30px;
  }
  .mssg img{
    width: auto;
    height: 20px;
  }

  .follow-nexus{
    display: none;
  }

  .alumni-h-message{
    display: flex;
    flex-direction: column;
  }

  .alumni-h-message .speaker-img{
    display: none;
  }

  .deans-text p{
    font-size: 15px;
    text-align: justify;
  }
  .cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .card{
    margin-bottom: 10px;
  }

  .nexus-do{
    position: relative;
    /* width:100%; */
    padding: 5px;
    margin: 10px;
    margin-top: 4rem  ;
  }
  
  .nexus-do h2{
    font-size: 30px;
    text-align: center;
    padding: 20px;
  }
  
  .nexus-do .left-side {
    max-width: 500px;
    /* margin: 10px auto; */
    background-color: #ffffff;
    padding: 10px;
    /* margin-left: 2rem; */
    margin-bottom: 20px;
    border-radius: 50px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.346);
    transition: transform 0.2s;
    position: relative;
  }
  .nexus-do .right-side {
    /* position: absolute;
    right: 0;
    left: 30rem; */
    max-width: 500px;
    margin-left: 15px;
    background-color: #ffffff;
    /* padding: 20px; */
    margin-bottom: 20px;
    border-radius: 50px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.346);
    transition: transform 0.2s;
    position: relative;
  }
  
  .nexus-do .row{
    width:100%;
    display: flex;
    justify-content: right;
    align-items: center;
  }
  
  .left-circle {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #df7103; /* Deep red color */
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: 20px; */
  
  /* border: 2px solid #f2f2f2; */
  }
  .right-circle {
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #df7103; /* Deep red color */
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: 20px;
  
  border: 2px solid #f2f2f2; */
  }
  
  .left-side  h3{
    font-size: 15px;
  }

  .right-side .content h3{
    font-size: 15px;
  }

  .left-side .content {
  text-align: left;
  margin-left: 7rem;
  font-size: 10px;
  }
  .right-side .content {
  text-align: right;
  margin-right: 7rem;
  font-size: 10px;

  }


  .right-side .content p{
    margin: 0;
  }

  .follow-nexus h2{
    font-size: 1em;
  }
  .follow-nexus i{
    font-size: 2em;
  }

  /* .left-side , .right-side h3{
    font-size: 1rem;
  } */
  
  .nexus-do span {
    font-size: 30px;
  }
  .footer-columns {
    flex-direction: column-reverse;
    text-align: center;
}

.column {
    margin-bottom: 20px;
}

.footer-bottom {
    flex-direction: column;
    text-align: center;
}

.footer-links {
    margin-top: 10px;
}
.footer-icons{
  display: flex;
  justify-content: center;
  margin: 5px auto;
}
.nexus-post-activities{
  align-items: center;
  justify-content: center;
  padding: 0;
}
.post-container{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nexus-activities .activity-cards {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 0;
}

.activity-cards .card {
  /* background: #0e1620; */
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  flex: 1;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}

.activity-cards .card .count {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card p {
  font-size: 15px;
  margin-bottom: 15px;
}
.nexus-features .cards .card{
  padding-top: 10px;
}
.nexus-features .view-more{
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 100px;
  background-color: #f6f6f6;
  margin-bottom: 1rem;
}
.post-container .post-details{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.post-container .post-details .video-container iframe{
  width:320px;
  height:200px;
}
.post-details .insta-posts{
  flex-direction: column;
}
}

@media screen and (min-width: 768px) and (max-width: 1024px){
  .nexus-features .cards{
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  } 
  .nexus-features .cards .card{
    padding-top: 1rem;
  }
  .nexus-features .cards .card button{
    margin-bottom: 1rem;
  }
  .alumni-h-message .speaker-img{
    display: none;
  }
  .alumni-h-message .deans-text{
    border: none;
    box-shadow: none;
  }
  .post-details{
    display: flex;
    flex-direction: column;
  }
  .post-details .insta-posts{
    display: flex;
    justify-content: space-around;
    gap: 20px;
  }
}